  html {
      height: 100%;
  }

  body {
      height: 100%;
      background-image: url('./assets/Travel.png');
      /* opacity: 0.5; */
      /* background-image: linear-gradient(45deg, #91b5ff, transparent); */
      /* background-repeat: no-repeat; */
      /* background-size: cover; */
      /* width: 100%; */
      /* overflow-y: hidden; */
  }

  /* main {
      height: calc(100% - 250px);
      position: relative;
  } */

  #root {
      height: 100%
  }

  .App {
      height: 100%;
      width: 100%;
      display: flex;
  }

  .App-header {
      width: 25%;
      height: 100%;
      align-items: stretch;
  }

  .main-div-container {
      width: 75%;
      height: 100%;
      align-content: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }

  .button-container{
    position: fixed;
    bottom:0;
    right: 0;
  }

  /* .button-container {
      display: flex;
      justify-content: center;
      position: fixed;
      right: 40px;
      margin-left: 150px;
      bottom: 20px;
  }

  .vertical-line {
      transform: rotate(90deg);
      border-bottom: solid 2px black;
      height: 50px;
      width: 325px;
      position: relative;
      top: 100px;
      left: 270px;
  } */

  /* h3 {
      font-size: 20px;
  } */

  /* .main-div-container {
    width: 40%;
      margin: 50px 50px -50px 500px;
  } */

  /* .vertical-line::before {
      content: "";
      width: 1px; */
  /* Width of the line */
  /* background-color: black; */
  /* Color of the line */
  /* margin: 0 10px; */
  /* Margin around the line */
  /* flex: 0 0 auto; */
  /* Do not allow the line to grow or shrink */
  /* } */


  /* 
  #root {
    height: 100%;
  }
  .App{
    height: 100%;
  }
  .App-header{
    height: 100%;
  } */