  html {
      height: 100%;
  }

  body {
      height: 100%;
      background-image: url('./assets/Travel.png');
  }

  #root {
      height: 100%
  }

  .App {
      height: 100%;
      width: 100%;
      display: flex;
  }

  .App-header {
      width: 25%;
      height: 100%;
      align-items: stretch;
  }

  .App-header>div {
      width: 100%;
      height: 100%;
  }

  .height-width-100 {
      height: 100%;
      width: 100%;
  }

  .main-div-container {
      width: 75%;
      height: 100%;
      align-content: center;
      /* display: grid;
      grid-template-rows: 1fr 0fr;
      flex-direction: column;
      flex-grow: 1; */
  }

  .main-div-container>div:first-child {
      height: 100%;
  }

  .button-container {
      position: fixed;
      bottom: 0;
      right: 0;
      /* display: flex;
      align-items: flex-end;
      justify-content: flex-end; */
      /* position: fixed; */
  }

  .btn {
      background: rebeccapurple;
      color: white;
  }